.todos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
        
    }


 .listTask {
    background-image: url("https://i.pinimg.com/originals/e8/c9/df/e8c9df3391c56187e8ebb909f33da143.jpg");
    background-size: cover;
    background-color: rgb(188, 230, 243);
    background-position-x: center;
    

} 